.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style-type: none;
}
.menu-bar {
  width: 85%;
  margin: auto;
  margin-top: 10px;
}
.menu-logo, .menu-bar nav li {
  float: left;
}
.menu-bar nav {
  float: right;
}
.menu-bar nav li {
  padding: 10px;
  line-height: 10px;
}
.menu-li-border {
  border-left: 1px solid #000;
}

.menu-hambuger {
  float: right;
  display: none;
}



/* Media Query */
@media screen and (max-width:991px) {
  .menu-bar nav {
    display: none;
  }
  .menu-hambuger {
    display: block;
  }
}
