.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style-type: none;
}
.trf-50-50 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}
/* HEADER */

.menu-bar {
  width: 85%;
  margin: auto;
  margin-top: 10px;
}
.menu-logo, .menu-bar nav li {
  float: left;
}
.menu-bar nav {
  float: right;
}
.menu-bar nav li {
  padding: 10px;
  line-height: 10px;
}
.menu-li-border {
  border-left: 1px solid #000;
}

.menu-hambuger {
  float: right;
  display: none;
}

/* Header image sfondo */
.head-img-wrapper {
  height: 550px;
  position: relative;
  background-image: url(../img/healbiz_header_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.layover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.head-title {
  text-align: center;
}
.head-title img {
  height: 40px;
  width: auto;
}

/* section 1 */
#helbiz-bikes {
  text-align: center;
}
#helbiz-bikes img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
}

/* section 2 */
#helbiz-banner {
  height: 500px;
  background-image: url("../img/HelbizBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.iphone-center {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate( -50%, -50%);
  z-index: 1;
}
.iphone-center > img {
  height: 500px;
}
/* section 3 */
#helbiz-work {
  margin-top: 30px;
}

/* section 4 */
#smart-mobility {
  height: 500px;
  background-image: url("../img/ScooterHelbiz-2400.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 150px;
  position: relative;
}
#smart-mobility .title {
  left: 80%;
  width: 25%;
  color: #fff;
}

/* section 5 */
#get-find .row {
  padding: 35px 15px;
  text-align: center;
  color: #fff;
  height: 500px;
}
#get-find .row a {
  display: inline-block;
  color: #fff;
  padding: 10px;
}
#get-find .row a:hover {
  text-decoration: underline;
}
#get-find .left {
  height: 100%;
  background-color: #354554;
  border-right: 20px solid #fff;
  background-image: url("../img/HelbiZAPP.png");
  background-size: 75%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
#get-find .right {
  height: 100%;
  background-image: url("../img/Cities-1500.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-left: 20px solid #fff;
}

/* section 6 */
#helbiz-family {
  height: 450px;
  background-image: url("../img/Social-Banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}
#helbiz-family .title {
  width: 40%;
  height: 50%;
  background-color: #fff;
  color: #000;
}
#helbiz-family > .trf-50-50 > .trf-50-50 {
  width: 250px;
}
#helbiz-family .trf-50-50 li {
  display: inline-block;
  width: 45px;
}




/* ------------------------------------ */
/*             Media Query              */
@media screen and (max-width:991px) {
  .menu-bar nav {
    display: none;
  }
  .menu-hambuger {
    display: block;
  }
}


@media screen and (min-width:768px) and (max-width:991px) {
  #helbiz-work {
    margin-top: 170px;
  }

}


@media screen and (max-width:767px) {

  #helbiz-work {
    margin-top: 170px;
  }

  #smart-mobility .title {
    width: 50%;
    left: 50%;
  }

  /* section 5 */
  #get-find .left,
  #get-find .right {
    border: 0;
  }
}
